@tailwind base;
@tailwind components;
@tailwind utilities;

/* MOS color palette */
.mos {
  --black: #14140F;
  --white: #F8FAF8;
  --gray: #5A5A55;
  --tint: #373733;
  --lite: #F3F5F3;
  --brite: #C3CDC3;
}
/* BLU color palette */
.blu {
  --black: #14141E;
  --white: #F7FFFF;
  --gray: #5A5A6E;
  --tint: #383840;
  --lite: #F0FFFF;
  --brite: #A0DCE6;
}
/* GRN color palette */
.grn {
  --black: #141A14;
  --white: #F9FFF9;
  --gray: #5A735A;
  --tint: #383C38;
  --lite: #F5FFF5;
  --brite: #AAE68C;
}
/* RED color palette */
.red {
  --black: #1E1414;
  --white: #FFFCFF;
  --gray: #645050;
  --tint: #403838;
  --lite: #FFFAFF;
  --brite: #FACDB9;
}

:root {
  /* Default to MOS */
  @apply mos;
  background-color: var(--black);
}

/* generic type settings for nav elements */
.type-ui {
  @apply text-base lg:text-lg xl:text-xl font-medium;
}

/* top level layout */
.layout {
  @apply w-full max-w-screen-2xl;
}

.layout-narrow {
  @apply w-full sm:w-11/12 md:w-5/6 xl:w-9/12;
}

/* page margins */
.layout-pl {
  @apply pl-5 md:pl-8 lg:pl-10 xl:pl-12;
}
.layout-pr {
  @apply pr-5 md:pr-8 lg:pr-10 xl:pr-12;
}
.layout-px {
  @apply px-5 md:px-8 lg:px-10 xl:px-12;
}

/* general horizontal padding */
.offset-l {
  @apply pl-5;
}
.offset-r {
  @apply pr-5;
}

/* nav anchor scacing */
.nav-space-x {
  @apply space-x-2 lg:space-x-3.5 xl:space-x-5;
}

.nav-space-x-offset {
  @apply offset-l nav-space-x;
}

/* sidebar width */
.sidebar {
  @apply w-44 lg:w-48 xl:w-52;
}

/* sidebar width for overflow components */
.sidebar-with-margin {
  @apply w-[12.25rem] md:w-52 lg:w-[14.5rem] xl:w-64 type-ui;
}

/* headings */
.h0 {
  @apply text-5xl sm:text-7xl md:text-8xl lg:text-9xl font-light;
}
.h1 {
  @apply text-4xl md:text-5xl xl:text-6xl font-medium;
}
.h2 {
  @apply text-2xl md:text-3xl xl:text-4xl font-semibold;
}
.h3 {
  @apply text-lg md:text-xl xl:text-2xl font-bold;
}

/* text bodies */
.body-sm {
  @apply text-base sm:text-lg md:text-xl;
}
.body-md {
  @apply text-lg sm:text-xl md:text-2xl;
}
.body-lg {
  @apply text-2xl sm:text-3xl md:text-4xl;
}

/* button color schemes and sizes */
.btn-dark {
  @apply bg-gray text-brite hover:text-lite;
}
.btn-light {
  @apply bg-brite hover:bg-lite text-gray;
}
.btn {
  @apply inline-flex justify-center items-center;
}
.btn-sm {
  @apply btn text-xl lg:text-2xl font-semibold leading-none px-2.5 py-1.5 rounded-xl;
}
.btn-md {
  @apply btn text-2xl lg:text-3xl font-semibold leading-none px-3 py-1.5 rounded-xl;
}
.btn-lg {
  @apply btn text-3xl lg:text-4xl font-semibold leading-none px-3.5 py-2 rounded-2xl;
}

/* rule lines */
.hr-horizontal {
  @apply w-full border-t-2 rounded-sm;
}
.hr-vertical {
  @apply h-full border-l-2 rounded-sm;
}

/* vertical area remaining under header */
.content-height {
  height: calc(100vh - 3rem);
  @screen md {
    height: calc(100vh - 4rem);
  }
}
.max-h-content {
  max-height: calc(100vh - 3rem);
  @screen md {
    max-height: calc(100vh - 4rem);
  }
}
