@tailwind base;
@tailwind components;
@tailwind utilities;

/* MOS color palette */
.mos {
  --black: #14140F;
  --white: #F8FAF8;
  --gray: #5A5A55;
  --tint: #373733;
  --lite: #F3F5F3;
  --brite: #C3CDC3;
}
.mos-light {
  --black: #F8FAF8;
  --white: #14140F;
  --gray: #A3ABA3;
  --tint: #D4D5D3;
  --lite: #373733;
  --brite: #54544F;
}

/* BLU color palette */
.blu {
  --black: #14141E;
  --white: #F7FFFF;
  --gray: #5A5A6E;
  --tint: #383840;
  --lite: #F0FFFF;
  --brite: #A0DCE6;
}
.blu-light {
  --black: #F7FFFF;
  --white: #14141E;
  --gray: #85B7C0;
  --tint: #D1DEDF;
  --lite: #383840;
  --brite: #545466;
}

/* GRN color palette */
.grn {
  --black: #141A14;
  --white: #F9FFF9;
  --gray: #5A735A;
  --tint: #383C38;
  --lite: #F5FFF5;
  --brite: #AAE68C;
}
.grn-light {
  --black: #F9FFF9;
  --white: #141A14;
  --gray: #8EC075;
  --tint: #D6DFD6;
  --lite: #383C38;
  --brite: #546A54;
}

/* RED color palette */
.red {
  --black: #1E1414;
  --white: #FFFCFF;
  --gray: #645050;
  --tint: #403838;
  --lite: #FFFAFF;
  --brite: #FACDB9;
}
.red-light {
  --black: #FFFCFF;
  --white: #1E1414;
  --gray: #D0AB9A;
  --tint: #DFDADE;
  --lite: #403838;
  --brite: #5E4C4C;
}

:root {
  /* Default to MOS */
  @apply mos;
}

body {
  @apply bg-black text-lite
}

/* generic type settings for nav elements */
.type-ui {
  @apply text-lg md:text-xl 3xl:text-2xl font-normal;
}

/* top level layout */
.layout {
  @apply w-full max-w-screen-3xl;
}

.layout-narrow {
  @apply w-full sm:w-11/12 md:w-5/6 xl:w-9/12;
}

/* page margins */
.layout-pl {
  @apply pl-5 lg:pl-10 xl:pl-12;
}
.layout-pr {
  @apply pr-5 lg:pr-10 xl:pr-12;
}
.layout-px {
  @apply px-5 lg:px-10 xl:px-12;
}

/* general horizontal padding */
.offset-l {
  @apply pl-5;
}
.offset-r {
  @apply pr-5;
}

/* nav anchor scacing */
.nav-space-x {
  @apply space-x-2 lg:space-x-3.5 xl:space-x-5;
}

.nav-space-x-offset {
  @apply offset-l nav-space-x;
}

/* sidebar width */
.sidebar {
  @apply w-44 lg:w-48 xl:w-52;
}

/* sidebar + margin width */
.sidebar-with-margin {
  @apply w-[12.25rem] md:w-52 lg:w-[14.5rem] xl:w-64;
}

.modal {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  @screen lg {
    width: calc(100vw - 14.5rem - 14.5rem - 0.5rem);
    height: auto;
    max-height: calc(100vh - 4rem - 4rem - 0.5rem);
    border-radius: 0.75rem;
  }
  @screen xl {
    width: calc(100vw - 16.0rem - 16.0rem - 0.5rem);
  }
}

/* headings */
.h0 {
  @apply text-7xl md:text-8xl lg:text-9xl font-light;
}
.h1 {
  @apply text-5xl md:text-6xl 3xl:text-7xl font-normal;
}
.h2 {
  @apply text-3xl md:text-4xl 3xl:text-5xl font-normal;
}
.h3 {
  @apply text-xl md:text-2xl 3xl:text-3xl font-semibold;
}

/* text bodies */
.body-sm {
  @apply text-base md:text-lg 3xl:text-xl
}
.body-md {
  @apply text-lg md:text-xl 3xl:text-2xl
}
.body-lg {
  @apply text-xl md:text-2xl 3xl:text-3xl
}
.body-xl {
  @apply text-2xl md:text-4xl 3xl:text-5xl
}

/* button color schemes and sizes */
.btn-dark {
  @apply bg-gray text-brite hover:text-lite;
}
.btn-light {
  @apply bg-brite hover:bg-lite text-gray;
}
.btn {
  @apply inline-flex justify-center items-center whitespace-nowrap font-semibold;
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
}
.btn-xs {
  @apply btn text-lg lg:text-xl font-semibold leading-none px-2.5 py-1.5 rounded-xl;
}
.btn-sm {
  @apply btn text-xl lg:text-2xl font-semibold leading-none px-2.5 py-1.5 rounded-xl;
}
.btn-md {
  @apply btn text-2xl lg:text-3xl font-semibold leading-none px-3 py-1.5 rounded-xl;
}
.btn-lg {
  @apply btn text-3xl lg:text-4xl font-semibold leading-none px-3.5 py-2 rounded-2xl;
}

/* rule lines */
.hr-horizontal {
  @apply w-full border-t-2 rounded-sm;
}
.hr-vertical {
  @apply h-full border-l-2 rounded-sm;
}

/* vertical area remaining under IntraNav */
.max-h-content {
  max-height: calc(100vh - 3rem);
  @screen md {
    max-height: calc(100vh - 4rem);
  }
}
