@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Source+Code+Pro:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Source+Code+Pro:wght@100;200;300;400;500;600;700;800&display=swap");

.markdown {
  @apply text-lite;
  font-family: "Inter";
}

.md-spacing {
  @apply my-4 md:my-6 3xl:my-8;
}

.markdown .display * {
  margin-top: unset;
  margin-bottom: unset;
  margin-left: unset;
  padding: unset;
  padding-top: unset;
  padding-bottom: unset;
}

.markdown p:not(.md-exclude),
.markdown li,
.markdown table,
.markdown code[class*="language-"],
.markdown pre[class*="language-"] {
  @apply body-md;
  @apply !leading-normal;
}

.markdown p:not(.md-exclude) {
  @apply md-spacing;
}

.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply md-spacing;
}

.markdown p a:not(.md-exclude, :has(code), :has(pre)),
.markdown li a:not(:has(code), :has(pre)) {
  @apply underline decoration-1 underline-offset-4 text-brite;
}

.markdown h1 a:not(:has(code), :has(pre)),
.markdown h2 a:not(:has(code), :has(pre)),
.markdown h3 a:not(:has(code), :has(pre)),
.markdown h4 a:not(:has(code), :has(pre)),
.markdown h5 a:not(:has(code), :has(pre)),
.markdown h6 a:not(:has(code), :has(pre)) {
  @apply underline decoration-2 underline-offset-4 text-brite;
}

/* Lists */

.markdown li:not(:last-child) {
  /* @apply mb-0.5; */
}

.markdown li li {
  /* @apply ml-4; */
}

.markdown ol li {
  @apply relative;
}

.markdown li ul,
.markdown li ol {
  /* @apply mt-0.5 mb-0; */
}

.markdown ul {
  list-style: outside;
  list-style-type: "- ";
}

.markdown ol {
  list-style: outside;
  list-style-type: none;
  counter-reset: list-number;
  margin-left: 2.5rem;
}

.markdown ol li:before {
  counter-increment: list-number;
  content: counter(list-number) " ";
  position: absolute;
  left: -2.5rem;
}

.markdown li ol li:before {
  content: counter(list-number, lower-alpha) " ";
}

/* Default Typography */

.markdown h1 {
  @apply text-6xl mt-24 mb-12 font-sans;
}

.markdown h2 {
  @apply text-4xl mt-20 mb-10 font-sans;
}

.markdown h3:not(.md-exclude) {
  @apply text-3xl font-medium mt-16 mb-8 font-sans;
}

.markdown h4:not(.md-exclude) {
  @apply text-2xl font-semibold mt-12 mb-6 font-sans;
}

.markdown h5 {
  @apply text-xl font-bold font-sans;
}

.markdown-callout p {
  @apply mt-1 mb-2 text-base;
}

.markdown hr:not(.md-exclude) {
  @apply md-spacing border-t-2 border-gray rounded-sm;
}

.markdown iframe {
  min-height: 512px;
}

/* Implicit "citation" heuristic */
.markdown blockquote > p > strong {
  font-style: normal;
}

/* Technical Typography */

.markdown.technical h1 {
  @apply text-6xl mt-24 mb-12 font-sans;
}

.markdown.technical h2 {
  @apply text-6xl mt-24 mb-12 font-sans;
}

.markdown.technical h3:not(.md-exclude) {
  @apply text-4xl mt-20 mb-10 font-sans;
}

.markdown.technical h4:not(.md-exclude) {
  @apply text-3xl font-medium mt-16 mb-8 font-sans;
}

.markdown.technical h5:not(.md-exclude) {
  @apply text-2xl font-semibold mt-12 mb-6 font-sans;
}

.markdown.technical hr + h1,
.markdown.technical hr + h2,
.markdown.technical hr + h3,
.markdown.technical hr + h4,
.markdown.technical hr + h5 {
  @apply !mt-4;
}

.markdown h1 code,
.markdown h2 code,
.markdown h3 code,
.markdown h4 code,
.markdown h5 code {
  @apply !font-mono;
}

.markdown.technical hr:not(.md-exclude):has(+ h1),
.markdown.technical hr:not(.md-exclude):has(+ h2),
.markdown.technical hr:not(.md-exclude):has(+ h3),
.markdown.technical hr:not(.md-exclude):has(+ h4),
.markdown.technical hr:not(.md-exclude):has(+ h5) {
  @apply !mt-20;
}

.markdown.technical p code {
  white-space: pre-wrap;
}

/* Imagery */

.markdown img {
  @apply rounded-lg;
  max-height: 75vh;
}

.markdown span#figure {
  @apply relative md-spacing z-0 w-full left-0 block;
}

.markdown pre,
.markdown pre[class*="language-"] {
  @apply block !p-3 bg-tint rounded-lg w-full;
}

.markdown code,
.markdown code[class*="language-"] {
  @apply text-lite bg-tint rounded-md !px-[0.2em] !py-[0.1em] break-words;
  font-family: "Source Code Pro";
}

.markdown a code,
.markdown a code[class*="language-"] {
  @apply decoration-0 bg-brite text-gray;
}

.markdown a:not(.md-exclude) {
  @apply text-brite;
}

.markdown blockquote {
  @apply border-l-2 border-lite pl-6;
}
.markdown blockquote cite {
  @apply font-semibold;
}

.markdown table {
  @apply table-fixed w-full;
  border-collapse: separate;
  border-spacing: 0;
}
.markdown table tr th,
.markdown table tr td {
  @apply font-normal;
  border-right-width: 2px;
  border-right-style: solid;
  padding: 8px !important;
  overflow-wrap: break-word;
  text-align: left;
  vertical-align: middle;
}

.markdown table tr td {
  @apply border-b-2 border-tint;
}

.markdown table tr td:first-child {
  @apply border-l-2 border-tint;
}

.markdown table tr th {
  @apply bg-tint border-black;
}

.markdown table tr th:first-child {
  @apply border-l-2 border-l-tint;
}

.markdown table tr th:last-child {
  @apply border-r-2 border-r-tint;
}

/* top-left border-radius */
.markdown table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

/* top-right border-radius */
.markdown table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

/* bottom-left border-radius */
.markdown table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

/* bottom-right border-radius */
.markdown table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
