.markdown {
  @apply text-lite;
}

.markdown .display * {
  margin-top: unset;
  margin-bottom: unset;
  margin-left: unset;
  padding: unset;
  padding-top: unset;
  padding-bottom: unset;
}

.markdown p:not(.md-exclude) {
  @apply my-3;
}

.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-2;
}

.markdown p a:not(:has(code), :has(pre)),
.markdown li a:not(:has(code), :has(pre)),
.markdown h1 a:not(:has(code), :has(pre)),
.markdown h2 a:not(:has(code), :has(pre)),
.markdown h3 a:not(:has(code), :has(pre)),
.markdown h4 a:not(:has(code), :has(pre)),
.markdown h5 a:not(:has(code), :has(pre)),
.markdown h6 a:not(:has(code), :has(pre)) {
  @apply underline text-brite;
}

/* Default Typography */

.markdown h1 {
  @apply text-5xl mt-24 mb-12;
}

.markdown h2 {
  @apply text-4xl mt-16 mb-10;
}

.markdown h3:not(.md-exclude) {
  @apply text-3xl font-medium mt-12 mb-8;
}

.markdown h4:not(.md-exclude) {
  @apply text-2xl font-semibold mt-8 mb-4;
}

.markdown h5 {
  @apply text-2xl font-bold;
}

.markdown p:not(.md-exclude) {
  @apply text-xl text-lite;
}

.markdown-callout p {
  @apply mt-1;
  @apply mb-2;
  font-size: 1rem;
}

.markdown li {
  @apply py-1 ml-6 text-base md:text-lg;
}

.markdown hr:not(.md-exclude) {
  @apply my-4 border-t-2 border-gray rounded-sm;
}

.markdown iframe {
  min-height: 512px;
}

/* Implicit "citation" heuristic */
.markdown blockquote > p > strong {
  font-style: normal;
}

/* Technical Typography */

.markdown.technical h1 {
  @apply text-5xl text-lite mt-24 mb-16;
}

.markdown.technical h2 {
  @apply text-4xl text-lite mt-16 mb-12;
}

.markdown.technical h3:not(.md-exclude) {
  @apply text-3xl text-lite font-medium mt-12 mb-8;
}

.markdown.technical h4:not(.md-exclude) {
  @apply text-2xl text-lite font-semibold mt-8 mb-4;
}

.markdown.technical p:not(.md-exclude) {
  @apply text-xl text-lite;
}

.markdown.technical p code {
  white-space: pre-wrap;
}

.markdown.technical li {
  @apply py-1 ml-6 text-base md:text-lg text-lite;
}

/* Imagery */

.markdown img {
  @apply rounded-lg w-full h-auto;
}

.markdown span#figure {
  @apply relative my-4 z-0 w-full left-0 block;
}

.markdown pre,
.markdown pre[class*="language-"] {
  @apply block !p-3 bg-tint rounded-lg w-full;
}

.markdown code,
.markdown code[class*="language-"] {
  @apply font-mono font-semibold !px-0.5 !py-px bg-tint rounded-md;
}

.markdown a code,
.markdown a code[class*="language-"] {
  @apply bg-gray text-brite;
}

.markdown ul {
  list-style: outside;
  list-style-type: disc;
}

.markdown ol {
  list-style: outside;
  list-style-type: decimal;
}

.markdown a:not(.md-exclude) {
  @apply text-brite font-semibold;
}

.markdown blockquote {
  @apply border-l-2 border-lite pl-6 italic;
}
.markdown blockquote cite {
  @apply not-italic font-semibold;
}

.markdown table {
  @apply table-fixed w-full;
  border-collapse: separate;
  border-spacing: 0;
}

.markdown table tr th,
.markdown table tr td {
  border-right-width: 2px;
  border-right-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: 8px !important;
  overflow-wrap: break-word;
  @apply text-lite border-tint;
}

.markdown table tr td:first-child {
  border-left-width: 2px;
  border-left-style: solid;
  @apply text-lite border-tint;
}

.markdown table tr th {
  border-top-width: 2px;
  border-top-style: solid;
  text-align: left;
  vertical-align: middle;
  @apply bg-tint text-lite border-black;
}

/* top-left border-radius */
.markdown table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

/* top-right border-radius */
.markdown table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

/* bottom-left border-radius */
.markdown table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

/* bottom-right border-radius */
.markdown table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
