/**
 * Prism light and dark themes
 */

.prism-dark {
  --prism-bg0: #1d2021;
  --prism-bg4: #7c6f64;
  --prism-fg0: #fbf1c7;
  --prism-fg1: #ebdbb2;
  --prism-fg4: #a89984; /* gray1 */
  --prism-red: #fb4934;
  --prism-yel: #fabd2f;
  --prism-grn: #b8bb26;
  --prism-prp: #d3869b;
}

.prism-light {
  --prism-bg0: #f9f5d7;
  --prism-bg4: #a89984;
  --prism-fg0: #282828;
  --prism-fg1: #3c3836;
  --prism-fg4: #7c6f64; /* gray1 */
  --prism-red: #9d0006;
  --prism-yel: #b57614;
  --prism-grn: #797403;
  --prism-prp: #8f3f71;
}

:root {
  @apply prism-dark;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-lite text-2xl font-mono font-normal;
	color: var(--prism-fg1); /* fg1 / fg */
	direction: ltr;
  background: none;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
  word-wrap: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
	color: var(--prism-fg0); /* fg0 */
	background: var(--prism-bg4); /* bg4 */
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	color: var(--prism-fg0); /* fg0 */
	background: var(--prism-bg4); /* bg4 */
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: var(--prism-bg0); /* bg0_h */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: var(--prism-fg4); /* fg4 / gray1 */
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: var(--prism-red); /* red2 */
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: var(--prism-fg4); /* fg4 / gray1 */
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: var(--prism-yel); /* yellow2 */
}

.token.entity,
.token.number,
.token.symbol {
	color: var(--prism-prp); /* purple2 */
}

.token.property,
.token.constant,
.token.variable {
	color: var(--prism-red); /* red2 */
}

.token.string,
.token.char {
	color: var(--prism-grn); /* green2 */
}

.token.attr-value,
.token.attr-value .punctuation {
	color: var(--prism-fg4); /* fg4 / gray1 */
}

.token.url {
	color: var(--prism-grn); /* green2 */
	text-decoration: underline;
}

.token.function {
	color: var(--prism-yel); /* yellow2 */
}

.token.regex {
	background: var(--prism-grn); /* green2 */
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: var(--prism-fg4); /* fg4 / gray1 */
}

.token.deleted {
	background: var(--prism-red); /* red2 */
}
